{{#if person.admin}}

<h1> this is admin</h1>
{{else}}
<h1> this is  not a admin</h1>
{{/if}}


{{!-- {{#each values}}
<h1>{{@index}}. {{this}}</h1>
<h1>{{@index}}. {{person.comments.comment}}</h1>
{{/each}}
{{#each person}}
<h1>{{@index}}. {{this}}</h1>
<h1>{{@index}}. {{person.comments.comment}}</h1>
{{/each}} --}}